<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Add Connection</title>
</head>
<body>
    <div align="Left">
        <h1>Add Connection</h1>
        <form th:action="@{/{controlStructureId}(controlStructureId=${control_structure_id})}" id="add_connection" th:object="${connection}">
            <label>Source:</label>
            <select id="componentSource">
                <option value="null">ENVIRONMENT</option>
                <option th:each="s : ${components}" th:value="${s.id}" th:text="${s.name}"/>
            </select><br/>

            <label>Target:</label>
            <select id="componentTarget">
                <option th:each="t : ${components}" th:value="${t.id}" th:text="${t.name}"/>
            </select><br/>

            <label>Connection Type:</label>
            <select id="connectionType">
                <option th:each="p : ${connectionType}" th:value="${p}" th:text="${p}" />
            </select><br/>

            <label>Style:</label>
            <select id="style">
                <option th:each="p : ${style}" th:value="${p}" th:text="${p}"/>
            </select><br/>

            <input type="hidden" id="control_structure_id" th:value="${control_structure_id}"/>

            <br/>

            <button type="submit" onclick = send()>Add Connection</button>
            <a th:href="@{/{controlStructureId}(controlStructureId=${control_structure_id})}" style="text-decoration: none; margin-left: 50px;">
                <input type="button" value="Cancel">
            </a>
        </form>
    </div>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript">

    var previous;
    var previousText;

    $(window).on('load', function() {
        previous = $("#componentSource").val();
        previousText = $("#componentSource option[value="+previous+"]").text();
        $("#componentTarget option[value="+previous+"]").remove();
    });

    $("#componentSource").on('focus', function () {
        previous = this.value;
        previousText = $("#componentSource option[value="+previous+"]").text();
    }).change(function() {
        var selected = this.value;
        $("#componentTarget option[value="+selected+"]").remove();
        $('#componentTarget').append($('<option>', {
            value: previous,
            text: previousText
        }));
        previous = this.value;
    });

    function send() {
        var connection = {
            source_id: $("#componentSource").val(),
            target_id: $("#componentTarget").val(),
            connectionType: $("#connectionType").val(),
            style: $("#style").val(),
            control_structure_id: $("#control_structure_id").val(),
        }

        $('#target').html('sending..');

        $.ajax({
            url: '/connections',
            type: 'post',
            dataType: 'json',
            contentType: 'application/json',
            success: function (data) {
                $('#target').html(data.msg);
            },
            data: JSON.stringify(connection)
        });
    }

</script>
</body>
</html>