<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Add Component</title>
</head>
<body>
<div align="Left">
    <h1>Add Component</h1>
    <form th:action="@{/{controlStructureId}(controlStructureId=${control_structure_id})}" id="add_component" th:object="${component}">
        <label>Name:</label>
        <input id="name" type="text" th:field="*{name}" required/><br/>

        <label>Border:</label>
        <select id="border">
            <option th:each="p : ${border}" th:value="${p}" th:text="${p}"/>
        </select><br/>

        <label>Father:</label>
        <select id="father">
            <option value="null">NO FATHER</option>
            <option th:each="p : ${father}" th:value="${p.id}" th:text="${p.name}"/>
        </select><br/>

        <label>IsVisible:</label>

        <input type="radio" id="isVisible" name="visible" value="true"checked>
        <label for="isVisible">True</label>
        <input type="radio" id="isNotVisible" name="visible" value="false">
        <label for="isNotVisible">False</label>

        <input type="hidden" id="control_structure_id" th:value="${control_structure_id}"/>
        <input type="hidden" id="typeComponent" th:value="${componentValue}"/><br/>
        <br/>

        <button type="submit" onclick = send()>Add Component</button>
        <a th:href="@{/{controlStructureId}(controlStructureId=${control_structure_id})}" style="text-decoration: none; margin-left: 50px;">
            <input type="button" value="Cancel">
        </a>
    </form>
</div>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript">

    function send() {

        if(document.getElementById('isVisible').checked) {
            var checkedValue = new Boolean(1);
        }else{
            var checkedValue = new Boolean(0);
        }

        var component = {
            name: $("#name").val(),
            father_id: $("#father").val(),
            border: $("#border").val(),
            isVisible: checkedValue,
            control_structure_id: $("#control_structure_id").val(),
        }

        $('#target').html('sending..');

        if($("#typeComponent").val() == "controlledProcess")
            var componentType = $("#typeComponent").val() + "es";
        else var componentType = $("#typeComponent").val() + "s";

        $.ajax({
            url: '/'+ componentType,
            type: 'post',
            dataType: 'json',
            contentType: 'application/json',
            success: function (data) {
                $('#target').html(data.msg);
            },
            data: JSON.stringify(component)
        });
    }

</script>
</body>
</html>