<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Home</title>
    <link th:rel="stylesheet" th:href="@{assets/jquery-treetable/jquery.treetable.css}"/>
    <link th:rel="stylesheet" th:href="@{assets/jquery-treetable/jquery.treetable.theme.default.css}"/>
    <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
</head>
<body>
    <div align="Left" style="margin-left: 2em;">
        <h1 style="margin-top: 0.5cm;">MicroSTAMP Step 2</h1>
        <div align="Left">
            <div>
                <h2>Control Structures</h2>
                <div class="container" style="margin-left: 2%;">
                    <div th:switch="${controlStructures.size}">
                        <h5 th:case='0'>No control structures yet!</h5>
                        <div th:case="*">
                            <div class="row">
                                <div class="col mt-5">
                                    <table id="csTable" class="table">
                                        <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Action</th>
                                        </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <br/>
                <br/>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addControlStructureModal" >Add Control Structure</button>
            </div>
        </div>
    </div>

<div class="modal fade" id="addControlStructureModal" tabindex="-1" role="dialog" aria-labelledby="addControlStructureModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Control Structure</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="control_structure-name" class="col-form-label">Name:</label>
                        <input type="text" class="form-control" id="control_structure-name">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick=addControlStructure()>Add Control Structure</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editControlStructureModal" tabindex="-1" role="dialog" aria-labelledby="editControlStructureModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Control Structure</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="control_structure-name" class="col-form-label">Name:</label>
                        <input type="text" class="form-control" id="control_structure-edit-name">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick=editControlStructure()>Edit Control Structure</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="confirmControlStructureDeleteModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete Control Structure</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete the following Control Structure ?
                <br/><br/>
                <span id="control_structure_delete_name"></span>
                <br/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick = deleteControlStructure()>Delete Control Structure</button>
            </div>
        </div>
    </div>
</div>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js" type="text/javascript"></script>

    <script type="text/javascript">

        var controlStructureSelected;
        var controlStructureToBeDeleted;

        $(window).ready(function () {
            $.ajax({
                "type": 'get',
                "url": '/controlstructures/',
                "dataType": "json",
                "success": function (data) {
                    $.each(data, function (idx, obj) {
                        $("#csTable").append("<tr data-tt-id=\"" + obj.id + "\" data-tt-parent-id=\"" + obj.father + "\"><td>" + obj.name + "</td><td><button style='cursor: pointer; border-radius: 5px;' data-toggle='modal' data-target='#editControlStructureModal' onclick = loadEditControlStructure(this.id) type='button' id=\"" + obj.id + "\"><span class='fa fa-pencil' aria-hidden='true'></span></button><button style='cursor: pointer; border-radius: 5px;' data-toggle='modal' data-target='#confirmControlStructureDeleteModal' type='button' id=\"" + obj.id + "\" onclick = loadControlStructureToBeDeleted(this.id)><span class='fa fa-trash'></span></button><button style='cursor: pointer; border-radius: 5px;' type='button' id=\"" + obj.id + "\" onclick=location.href=\"" + obj.id + "\"><span class='fa fa-search' aria-hidden='true'></span></button></td></tr>");
                    });
                    $("#csTable").treetable({
                        expandable: true,
                        initialState: "expanded",
                        clickableNodeNames: true,
                        indent: 30
                    });
                }
            });
        });

        function addControlStructure() {
            var control_structure = {
                name: $("#control_structure-name").val(),
            }

            $('#target').html('sending..');

            $.ajax({
                url: '/controlstructures',
                type: 'post',
                dataType: 'json',
                contentType: 'application/json',
                success: function (data) {
                    location.reload();
                },
                data: JSON.stringify(control_structure)
            });
        }

        function loadEditControlStructure(id){
            controlStructureSelected = id;
            $.ajax({
            url: '/controlstructures/'+ id,
            type: 'get',
            success: function (data) {
                $("#control_structure-edit-name").val(data.name);
            },
        });
        }

        function editControlStructure() {
            var control_structure = {
                name: $("#control_structure-edit-name").val(),
            }

            $('#target').html('sending..');

            $.ajax({
                url: '/controlstructures/' + controlStructureSelected,
                type: 'put',
                dataType: 'json',
                contentType: 'application/json',
                success: function (data) {
                    location.reload();
                },
                data: JSON.stringify(control_structure)
            });
        }

        function loadControlStructureToBeDeleted(id){
            controlStructureToBeDeleted = id;
            $.ajax({
                url: '/controlstructures/'+ id,
                type: 'get',
                success: function (data) {
                     $("#control_structure_delete_name").text(data.name);
                },
            });
        }

        function deleteControlStructure(){
            $.ajax({
                url: '/controlstructures/'+ controlStructureToBeDeleted,
                type: 'delete',
                success: function (data) {
                    location.reload();
                },
            });
        }

    </script>

    <script src="/assets/jquery-treetable/jquery.treetable.js"></script>
</body>
</html>