<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Home</title>

    <link th:rel="stylesheet" th:href="@{assets/jquery-treetable/jquery.treetable.css}"/>
    <link th:rel="stylesheet" th:href="@{assets/jquery-treetable/jquery.treetable.theme.default.css}"/>
    <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body>
<form th:action="@{/{controlStructureId}/add_component(controlStructureId=${control_structure_id})}" method="get">
    <div align="Left" style="margin-left: 2em;">
        <h1 style="margin-top: 0.5cm;">Step 2 Form test</h1>
        <div align="Left">
            <h2>Components</h2>
            <div class="container" style="margin-left: 2%;">
                <div th:switch="${components.size}">
                    <h5 th:case='0'>No components yet!</h5>
                    <div th:case="*">
                        <div class="row">
                            <div class="col mt-5">
                                <table id="treeTable" class="table">
                                    <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Border</th>
                                        <th>isVisible</th>
                                        <th>Father</th>
                                    </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h2>Connections</h2>
            <div class="container" style="margin-left: 2%;">
                <div th:switch="${connections.size}">
                    <h5 th:case='0'>No connections yet!</h5>
                    <div th:case="*">
                        <div class="row">
                            <div class="col mt-5">
                                <table id="connectionTable" class="table">
                                    <thead>
                                    <tr>
                                        <th>Source</th>
                                        <th>Target</th>
                                        <th>Connection Type</th>
                                        <th>Style</th>
                                    </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <input type="hidden" id="control_structure_id" th:value="${control_structure_id}"/>

            <br><br>
            <input type="radio" id="controller" name="componentValue" value="controller" checked>
            <label for="controller">Controller</label>

            <input type="radio" id="controlledProcess" name="componentValue" value="controlledProcess">
            <label for="controlledProcess">Controlled Process</label>

            <input type="radio" id="actuator" name="componentValue" value="actuator">
            <label for="actuator">Actuator</label>

            <input type="radio" id="sensor" name="componentValue" value="sensor">
            <label for="sensor">Sensor</label>
        </div>
        <br />
        <div>
            <div align="Left">
                <button type="submit" >Add Component</button>

                <a th:href="@{/{controlStructureId}/add_connection(controlStructureId=${control_structure_id})}" style="text-decoration: none;">
                    <input type="button" value="Add Connection">
                </a>

                <a th:href="@{/home}" style="float: right; margin-right: 23%;">
                    <input type="button" value="Return"/>
                </a>
            </div>
            <br><br>
        </div>
    </div>
</form>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js" type="text/javascript"></script>

<script type="text/javascript">
    $(window).ready(function () {
        var cs_id = $("#control_structure_id").val();
        $.ajax({
            "type": 'get',
            "url": '/components/' + cs_id,
            "dataType": "json",
            "success": function (data) {
                var backup = data;
                $.each(data, function (idx, obj) {
                    if(obj.father == null){
                        $("#treeTable").append("<tr data-tt-id=\"" + obj.id + "\" data-tt-parent-id=\"" + obj.father + "\"><td>" + obj.name + "</td><td>" + obj.border + "</td><td>" + obj.isVisible + "</td><td>" + obj.father);
                        addChildren(obj.id,backup);
                    }
                });
                $("#treeTable").treetable({
                    expandable: true,
                    initialState: "expanded",
                    clickableNodeNames: true,
                    indent: 30
                });
            }
        });
        $.ajax({
            "type": 'get',
            "url": '/connections/' + cs_id,
            "dataType": "json",
            "success": function (data) {
                $.each(data, function (idx, obj) {
                    $("#connectionTable").append("<tr data-tt-id=\"" + obj.id + "\" data-tt-parent-id=\"" + obj.father + "\"><td>" + obj.sourceName + "</td><td>" + obj.targetName + "</td><td>" + obj.connectionType + "</td><td>" + obj.style);
                });
                $("#connectionTable").treetable({
                    expandable: true,
                    initialState: "expanded",
                    clickableNodeNames: true,
                    indent: 30
                });
            }
        });

    });

    function addChildren(id, backup){
       $.each(backup, function (idx, obj) {
            if(obj.father != null){
                if(obj.father.id == id){
                    $("#treeTable").append("<tr data-tt-id=\"" + obj.id + "\" data-tt-parent-id=\"" + obj.father.id + "\"><td>" + obj.name + "</td><td>" + obj.border + "</td><td>" + obj.isVisible + "</td><td>" + obj.father.name);
                    addChildren(obj.id,backup);
                }
            }
       });
    }

</script>
<script src="/assets/jquery-treetable/jquery.treetable.js"></script>
</body>
</html>